**Q.1**. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

**Answer**:-

In [ ]:
SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

**Q-2**. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

**Answer**:- m

In [ ]:
SELECT POSITION("A" IN  FIRST_NAME) FROM Worker WHERE FIRST_NAME='Amitabh';

**Q-3**. Write an SQL query to print the name of employees having the highest salary in each department.

**Answer**:-

In [ ]:
SELECT   MAX(SALARY),FIRST_NAME,LAST_NAME, FROM Worker GROUP BY DEPARTMENT ;