**Q.1.** Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

**Answer:-**

SELECT RTRIM(FIRST_NAME) FROM Worker;

**Q.2.** Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

**Answer:-**

select distinct( length(DEPARTMENT)),DEPARTMENT from worker group by  DEPARTMENT;

**Q.3.** Write an SQL query to fetch nth max salaries from a table.

**Answer:-**

select * from worke ORDER BY `salary` 
DESC limit 5,1;