**Q.1.** Write an SQL query to determine the 5th highest salary without using TOP or limit method.

**Answer**:-

In [ ]:
SELECT * FROM (  
SELECT ROW_NUMBER() OVER (ORDER BY SALARY DESC) AS rownumber,Salary  
FROM Worker )  
AS foo  
WHERE rownumber = 5

**Q.2.** Write an SQL query to fetch the list of employees with the same salary.

**Answer**:-

In [ ]:
Select distinct W.WORKER_ID, W.FIRST_NAME, W.Salary 
from Worker W, Worker W1 
where W.Salary = W1.Salary 
and W.WORKER_ID != W1.WORKER_ID;