**Q.1.** Write an SQL query to show the top n (say 10) records of a table.

**Answer**:-

In [ ]:
# Worker tableName
SELECT * FROM Worker ORDER BY Salary DESC LIMIT 10;

**Q.2.** Write an SQL query to determine the nth (say n=5) highest salary from a table.

**Answer**:-

In [ ]:
select * from worker order by salary DESC  limit 4,1;