**Q.1.** Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

**Answer:-**

SELECT REPLACE(FIRST_NAME,'a','A') FROM Wokrer;

**Q.2.** Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

**Answer:-**

SELECT * FROM Worker ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

**Q.3.** Write an SQL query to fetch the names of workers who earn the highest salary.

**Answer:-**

SELECT FIRST_NAME, LAST_NAME FROM Worker WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);