**Q.1.** Write an SQL query to show only odd rows from a table.

**Answer:-**

SELECT * 
FROM Worker 
Where MOD(worker_id,2) = 1

**Q.2.** Write an SQL query to clone a new table from another table.

**Answer**:-

CREATE TABLE new_Worker SELECT * FROM Worker;