**Q.1.** Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

**Answer:-**

#Method-1
SELECT * FROM Worker WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;

#Method-1
SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%"

**Q.2.** Write an SQL query to fetch duplicate records having matching data in some fields of a table.

**Answer:-**

SELECT column_name, COUNT(column_name) FROM table_name GROUP BY column_name HAVING COUNT(column_name) > 1;

**Q.3.** How to remove duplicate rows from Employees table.

DELETE t1 from Employees as  t1
INNER JOIN  Employees as  t2 
WHERE 
    t1.id < t2.id AND 
    t1.email = t2.email;